body {
  padding-top: 50px;
  background: url('../assets/img/bg.png');
}

body > .container {
  margin-top: 20px;
}

footer.signature {
  margin-top: 40px;
  margin-bottom: 0;
  text-align: center;
}

.cbg {
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.subject-info > .subject-status {
  display: none;
}

.subject-info.active > .subject-status {
  display: block;
}

.subject-info.active > .subject-login {
  display: none;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (min--moz-device-pixel-ratio: 2),
       only screen and (-o-min-device-pixel-ratio: 2/1),
       only screen and (min-device-pixel-ratio: 2) {
  body {
    background: url('../assets/img/bg_@2x.png');
  }
}