<div class="container cbg">
  <h3>Available objects <a href="#" class="btn btn-success object-list-refresh"><i class="glyphicon glyphicon-refresh"></i></a></h3>
  <table class="table object-list">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Access rights</th>
        <th>OPS</th>
      </tr>
    </thead>
    <tbody>
    
    </tbody>
    <tfoot>
      <tr>
        <td>
          <input type="text" class="form-control" id="new_obj_name" name="new_obj_name" placeholder="Object name">
        </td>
        <td colspan="2">
          <input type="text" class="form-control" id="new_obj_desc" name="new_obj_desc" placeholder="Object description">
        </td>
        <td>
          <a href="#" class="btn btn-primary" id="new_obj_submit"><i class="glyphicon glyphicon-plus"></i></a>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<script src="./js/app-list.js"></script>