<div class="container cbg">
  <h3>Available objects <a href="#" class="btn btn-success object-list-refresh"><i class="glyphicon glyphicon-refresh"></i></a></h3>
  <table class="table object-list">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Access rights</th>
        <th>OPS</th>
      </tr>
    </thead>
    <tbody>
    
    </tbody>
    <tfoot>
      <tr>
        <td>
          <input type="text" class="form-control" id="new_obj_name" name="new_obj_name" placeholder="Object name">
        </td>
        <td colspan="2">
          <input type="text" class="form-control" id="new_obj_desc" name="new_obj_desc" placeholder="Object description">
        </td>
        <td>
          <a href="#" class="btn btn-primary" id="new_obj_submit"><i class="glyphicon glyphicon-plus"></i></a>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<div class="modal fade" id="obj-edit-modal" tabindex="-1" role="dialog" aria-labelledby="obj-edit-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="obj-edit-modal-label">Edit object description</h4>
      </div>
      <div class="modal-body">
        <div class="form-horizontal">
          <div class="row">
            <div class="col-md-3">
              <p style="text-align:right;"><strong>Object Name</strong></p>
            </div>
            <div class="col-md-9">
              <p id="obj_edit_name">Object Name</p>
            </div>
          </div>
          <div class="form-group">
            <label for="obj_edit_desc" class="control-label col-md-3">New desc</label>
            <div class=" col-md-9">
              <div class="input-group">
                <input class="form-control" type="text" id="obj_edit_desc" name="obj_edit_desc" placeholder="New description">
                <span class="input-group-btn">
                  <button id="obj-edit-getdesc" class="btn btn-default" type="button"><i class="glyphicon glyphicon-download-alt"></i></button>
                </span>
              </div><!-- /input-group -->
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="obj_edit_submit" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="obj-access-modal" tabindex="-1" role="dialog" aria-labelledby="obj-access-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="obj-access-modal-label">Edit object access</h4>
      </div>
      <div class="modal-body">
        <table class="table access-list">
          <thead>
            <tr>
              <th>Subject Name</th>
              <th>Access</th>
              <th>OPS</th>
            </tr>
          </thead>
          <tbody>
            
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" id="obj-access-refresh"><i class="glyphicon glyphicon-refresh"></i> Refresh</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="./js/app-list.js"></script>