<div class="jumbotron">
  <div class="container">
    <h1>Welcome.</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h3>New subject</h3>
      <form class="form-horizontal" action="">
        {{#parseJSON '{"id": "sbj_name", "label": "User name", "horizontal": true}'}}
          {{> form-group }}
        {{/parseJSON}}

        {{#parseJSON '{"id": "sbj_password", "type": "password", "label": "Password", "horizontal": true}'}}
          {{> form-group }}
        {{/parseJSON}}

        {{#parseJSON '{"id": "sbj_desc", "label": "Description", "horizontal": true}'}}
          {{> form-group }}
        {{/parseJSON}}

        <div class="form-group">
          <div class="col-md-10 col-md-offset-2">
            <a href="#" id="subject-register" class="btn btn-default">Register</a>
          </div> 
        </div>

      </form>
    </div>
  </div>
</div>

<script src="./js/register.js"></script>